<footer class="bg-secondary-color text-white py-8">
    <div class="flex flex-wrap gap-x-4 gap-y-8 justify-between max-w-screen-xl xl:mx-auto mx-8">

        <div>
            <h3 class="text-lg font-semibold text-white mb-2">Links</h3>
            <ul>
                <li><a href="https://www.ines-heilmann.de/impressum" class="hover:text-white">Impressum</a></li>
                <li><a href="https://www.ines-heilmann.de/datenschutz" class="hover:text-white">Datenschutz</a></li>
                <li><a href="https://recines.ines-heilmann.de/login" class="hover:text-white">Admin-Bereich</a></li>
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-semibold text-white mb-2">Kategorien</h3>
            <ul>
                <li><a href="{{ path('app_category_show', { title: 'Hauptgerichte' }) }}" class="hover:text-white">Hauptgerichte</a></li>
                <li><a href="{{ path('app_category_show', { title: 'Desserts' }) }}" class="hover:text-white">Desserts</a></li>
                <li><a href="{{ path('app_category_show', { title: 'Getränke' }) }}" class="hover:text-white">Getränke</a></li>
                
            </ul>
        </div>

        <div>
            <h3 class="text-lg font-semibold text-white mb-2">Folge uns</h3>
            <div class="flex space-x-4">
                <a href="https://instagram.com" class="hover:text-white">{{ ux_icon('mdi:instagram', {class: 'w-8 h-8'}) }}</a>
                <a href="https://facebook.com" class="hover:text-white">{{ ux_icon('mdi:facebook', {class: 'w-8 h-8'}) }}</a>
                <a href="https://pinterest.com" class="hover:text-white">{{ ux_icon('mdi:pinterest', {class: 'w-8 h-8'}) }}</a>
            </div>
        </div>


    </div>

    <!-- Copyright und Technologien -->
    <div class="max-w-screen-xl xl:mx-auto mx-8 mt-8 text-center border-t border-white pt-4">
        <p class="text-sm">© 2024 Ines Heilmann – Alle Rechte vorbehalten</p>
        <p class="text-xs">Erstellt mit Symfony, Tailwind und MySQL</p>
    </div>
</footer>