<header data-controller="navigation search">
    <div class="grid grid-cols-[auto,1fr,auto] gap-4 items-center bg-primary-color py-6 px-8 text-white">
        <button class="sm:hidden" data-action="navigation#toggle">
            {{ ux_icon('heroicons:bars-3', {class: 'w-8 h-8'}) }}
        </button>

        <div id="overlay" class="fixed inset-0 bg-gray-700 opacity-50 sm:hidden"></div>

        <h1 class="text-5xl text-center"><a href="{{ path('app_homepage') }}">Recines</a></h1>
        
        <nav id="main-nav" class="max-sm:fixed max-sm:top-0 max-sm:left-0 max-sm:bg-background-color max-sm:h-screen max-sm:w-10/12 max-sm:text-secondary-color max-sm:p-4 transition-all ease-in-out duration-200 z-10">
            <div class="sm:hidden flex items-center justify-between pb-3 pl-2 text-lg">
                <span class="font-bold">Menü</span>
                <button data-action="navigation#toggle">
                    {{ ux_icon('mdi:close', {class: 'w-8 h-8'}) }}
                </button>
            </div>
            <ul class="sm:flex sm:justify-center sm:uppercase font-semibold">
                {% for category in categories %}
                    <li class="sm:flex sm:items-center max-sm:p-2">
                        {% if not loop.first %}
                            <span class="max-sm:hidden">|</span>    
                        {% endif %}
                        <a href="{{ path('app_category_show', { title: category.title }) }}" 
                            class="sm:p-2 hover:text-secondary-color {% if currentCategory is same as category.title %} text-secondary-color {% endif %}">{{ category.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        
        <button data-action="search#toggle">
            {{ ux_icon('heroicons:magnifying-glass', {class: 'w-8 h-8'}) }}
        </button>
    </div>
    <div data-search-target="searchbar" class="searchbar h-0 transition-all duration-700 ease-in-out overflow-hidden bg-secondary-color text-center text-white">
        <div class="inner-content py-4 px-8 flex justify-center">
            <form action="{{ path('app_recipe_search') }}" method="get" class="grid grid-cols-[auto_1fr_auto] grid-rows-[1fr_auto] gap-x-1 w-full sm:w-2/3" autocomplete="off">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
                    </svg>
                </button>
                <input type="text" name="search" placeholder="Was darf's sein?" class="bg-transparent focus:outline-none" autocomplete="off" />
                <button type="button" data-action="search#toggle">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path d="M6.28 5.22a.75.75 0 0 0-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 1 0 1.06 1.06L10 11.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L11.06 10l3.72-3.72a.75.75 0 0 0-1.06-1.06L10 8.94 6.28 5.22Z" />
                    </svg>
                </button>
                <span class="col-span-3 h-[4px] bg-white rounded-full"></span>
            <form>        
        </div>
    </div>
</header>