{% extends 'base.html.twig' %}

{% block title %}
    {{ recipe.title }} | Recines
{% endblock %}

{% block body %}
    {% set paragraphs = recipe.method|nl_split %}
    <section data-controller="cookmode" data-cookmode-steps-value="{{ paragraphs|json_encode|e('html_attr') }}">
        <div>
            <button data-action="cookmode#toggle" type="button">Kochmodus starten</button>
        </div>
        {% block cook_mode %}
            {{ include('partials/_cook-mode.html.twig') }}
        {% endblock %}
        <div class="p-8 bg-white">
            <h2 class="h2 text-secondary-color">{{ recipe.title }}</h2>
            {% for tag in recipe.recipeTags %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </div>
        <img class="object-cover object-center img-large-height w-full" src="{{ recipe.imageUrl | imagine_filter('homepage_stage') }}">
        <div class="flex flex-wrap">
            <div class="bg-primary-color basis-2/6 grow p-8">
                <h3 id="ingredients" class="h3 text-white">Zutaten</h3>
                <div class="grid grid-cols-[2.5rem_1fr_2.5rem] grid-rows-[2.5rem] items-center text-black pb-4 gap-x-2 font-semibold">
                    <a class="bg-white h-full text-center leading-9" 
                        {% if servings > 1 %}
                            href="{{ path('app_recipe_show', { id: recipe.id, servings: servings - 1, _fragment: 'ingredients' }) }}"
                        {% else %}
                            href="{{ path('app_recipe_show', { id: recipe.id, servings: servings, _fragment: 'ingredients' }) }}"
                        {% endif %}>-</a>
                    <p class="bg-white flex items-center justify-center h-full"><span>{{ servings }}</span>&nbsp;Portionen</p>
                    <a class="bg-white h-full text-center leading-9" 
                        href="{{ path('app_recipe_show', { id: recipe.id , servings: servings + 1, _fragment: 'ingredients' }) }}">+</a>
                </div>
                <table class="text-black w-full">
                    {% for recipeIngredient in recipe.recipeIngredients %}
                        <tr class="border-b-2 border-secondary-color w-full flex">
                            <td class="text-right align-top py-2 pr-4 text-nowrap flex-[1_0_40%]">
                                {% if recipeIngredient.amount %}
                                    {{ recipeIngredient.amount / 4 * servings}}
                                {% endif %}
                                {{ recipeIngredient.unit }}
                            </td>
                            <td class="py-2 flex-[1_1_60%]">{{ recipeIngredient.ingredient.name }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="bg-white basis-4/6 grow p-8">
                <h3 class="h3 text-secondary-color">Zubereitung</h3>
                <div>
                    <ol class="list-decimal pl-4 space-y-4">
                        {# {% set paragraphs = recipe.method|nl_split %} #}
                        {% for paragraph in paragraphs %}
                            <li>{{ paragraph }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock %}