<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/favicon/favicon.ico') }}" type="image/x-icon">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {{ render(controller(
                'App\\Controller\\CategoryController::all',
                { 'currentCategory': app.request.attributes.get('title') }
            )) }}
        {% endblock %}
        {% block body %}{% endblock %}

        {% block cookie_consent %}
            {{ include('partials/_cookie-consent.html.twig') }}
        {% endblock %}

        {% block footer %}
            {{ include('partials/_footer.html.twig') }}
        {% endblock %}

        <script src="https://www.ines-heilmann.de/js/cookie-consent.js"></script>
    </body>
</html>
